.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.user-list {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.list-container.list-group {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  text-align: center;
    width: 70%;
    flex-wrap: wrap;
  margin: 0 auto;
}
.list-group-item {
  display: flex;
  justify-content: center;
    align-items: center;
  text-align: center;
  width: 150px;
    height: 150px;
}
.pagination {
  display: flex;
  justify-content: center;
    align-items: center;
    text-align: center;
  width: 100%;
  height: 100%;
  margin: 5px;
    padding: 5px;
}
.user-info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
    padding: 10px;
  flex-wrap: wrap;
}
.user-info>img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
}
.user-info>span {
  display: flex;
  justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    flex-wrap: wrap;
  width: 100%;
  height: 100%;
  font-size: 1rem;
    font-weight: bold;
}
.link {
  list-style: none;
  text-decoration: none;
}
.results {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  width: 24%;
  margin: 10px;
}